*
{
	box-sizing: border-box;
	padding:0;
	border:0;
	margin:0;
}
html,body
{
	height:100%;
}
.animation_area
{
	position:relative;
	width:50%;
	height:50%;
	margin-top:2%;
}
.img_div
{
	position:absolute;
	opacity:0;
}
.img_red_div
{
	position:absolute;
	opacity:0;
}
.patient_div
{
	left:26%;
	top:32%;
	width:16vw;
	height:15vh;
}
.hospital_div
{
	left:12.5%;
	top:38%;
	width:6.5vw;
	height:18vh;
}
.money_div
{
	left:23.5%;
	top:65%;
	width:5.5vw;
	height:7vh;
}
.surgeon_pls_div
{
	bottom:30%;
	right:53%;
	width:0.5vw;
	height:1.42vh;
}
.surgeon_div
{
	bottom:12%;
	right:50%;
	width:3.5vw;
	height:10.75vh;
}
.hand_div
{
	
	bottom:-10%;
	left:10%;
	height:25vh;
	width:25vw;
	opacity: 1;
}
.all_img
{
	width:100%;
	height:100%;
}
.hospital_red_div
{
	left:12.5%;
	top:28%;
	width:6.5vw;
	height:18vh;
}
.money_red_div
{
	left:23.5%;
	top:55%;
	width:5.5vw;
	height:7vh;
}
.surgeon_pls_red_div
{
	bottom:40%;
	right:53%;
	width:0.5vw;
	height:1.42vh;
}
.patient_red_div
{
	left:26%;
	top:22%;
	width:16vw;
	height:15vh;
}
