*
{
	box-sizing: border-box;
	padding:0;
	border:0;
	margin:0;
}
html,body
{
	height:100%;
}
.animation_area
{
	position:relative;
	width:50%;
	height:50%;
	margin-top:2%;
}
.img_div
{
	position:absolute;
	opacity:0;
}
.img_red_div
{
	position:absolute;
	opacity:0;
	animation-name: appear;
	-webkit-animation-name: appear;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:10s;
	-webkit-animation-delay:10s;
}
.patient_div
{
	left:26%;
	top:32%;
	width:16vw;
	height:15vh;
	animation-name: moveup_patient;
	-webkit-animation-name: moveup_patient;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:8s;
	-webkit-animation-delay:8s;
}
.hospital_div
{
	left:12.5%;
	top:38%;
	width:6.5vw;
	height:18vh;
	animation-name: moveup_hospital;
	-webkit-animation-name: moveup_hospital;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:6s;
	-webkit-animation-delay:6s;
}
.money_div
{
	left:23.5%;
	top:65%;
	width:5.5vw;
	height:7vh;
	animation-name: moveup_money;
	-webkit-animation-name: moveup_money;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:4s;
	-webkit-animation-delay:4s;
}
.surgeon_pls_div
{
	bottom:30%;
	right:53%;
	width:0.5vw;
	height:1.42vh;
	animation-name: moveup_surgeon_pls;
	-webkit-animation-name: moveup_surgeon_pls;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:2s;
	-webkit-animation-delay:2s;	
}
.surgeon_div
{
	bottom:12%;
	right:50%;
	width:3.5vw;
	height:10.75vh;
	animation-name: moveup_surgeon;
	-webkit-animation-name: moveup_surgeon;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:2s;
	-webkit-animation-delay:2s;
}
.hand_div
{
	bottom:-10%;
	left:10%;
	height:25vh;
	width:25vw;
	animation-name: moveup_hand;
	-webkit-animation-name: moveup_hand;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.all_img
{
	width:100%;
	height:100%;
}
.hospital_red_div
{
	left:12.5%;
	top:28%;
	width:6.5vw;
	height:18vh;
	transition-delay:10s;
	-webkit-transition-delay:10s;
}
.money_red_div
{
	left:23.5%;
	top:55%;
	width:5.5vw;
	height:7vh;
	transition-delay:10s;
	-webkit-transition-delay:10s;
}
.surgeon_pls_red_div
{
	bottom:40%;
	right:53%;
	width:0.5vw;
	height:1.42vh;
	transition-delay:10s;
	-webkit-transition-delay:10s;	
}
.patient_red_div
{
	left:26%;
	top:22%;
	width:16vw;
	height:15vh;
	transition-delay:10s;
	-webkit-transition-delay:10s;
}
@keyframes appear
{
	from{ opacity:0;}
	to{opacity:1};
}
@-webkit-keyframes appear
{
	from{ opacity:0;}
	to{opacity:1;}
}
@keyframes moveup_patient
{
	from{top:32%; opacity:0;}
	to{top:22%; opacity:1};
}
@-webkit-keyframes moveup_patient
{
	from{top:32%; opacity:0;}
	to{top:22%; opacity:1;}
}
@keyframes moveup_hospital
{
	from{top:38%; opacity:0;}
	to{top: 28%; opacity:1};
}
@-webkit-keyframes moveup_hospital
{
	from{top:38%; opacity:0;}
	to{top:28%; opacity:1;}
}
@keyframes moveup_money
{
	from{top:65%; opacity:0;}
	to{top:55%; opacity:1};
}
@-webkit-keyframes moveup_money
{
	from{top:65%; opacity:0;}
	to{top:55%; opacity:1;}
}
@keyframes moveup_surgeon_pls
{
	from{bottom:30%; opacity:0;}
	to{bottom:40%; opacity:1};
}
@-webkit-keyframes moveup_surgeon_pls
{
	from{bottom:30%; opacity:0;}
	to{bottom:40%; opacity:1;}
}
@keyframes moveup_surgeon
{
	from{bottom:12%; opacity:0;}
	to{bottom:22%; opacity:1};
}
@-webkit-keyframes moveup_surgeon
{
	from{bottom:12%; opacity:0;}
	to{bottom:22%; opacity:1;}
}
@keyframes moveup_hand
{
	from{bottom:-10%; opacity:0;}
	to{bottom:0; opacity:1};
}
@-webkit-keyframes moveup_hand
{
	from{bottom:-10%; opacity:0;}
	to{bottom:0; opacity:1;}
}
